main {
    padding: 20px 16px;
}

a {
    color: #0a84ff;
    text-decoration: none;
    font-weight: 600;
}

#container {
    border-radius: 4px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, .2);
    margin: 0 auto;
    width: 900px;
}
